External CSS file
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    background-color: lavender;
}
header {
    background-color: #333;
    color: antiquewhite;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color:aliceblue;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
