.Pic1 {
    box-shadow: 12px 12px 24px grey;
    filter: blur(4px);
}
.Pic2 {
    box-shadow: 12px 12px 24px grey;
    filter: grayscale(100%);
}
.Pic3 {
    box-shadow: 12px 12px 24px grey;
    filter: opacity(50%);
}
body {
    background-color: aliceblue;
}
div{
    display: flex;
}